{% extends "app/base.html" %}
{% load crispy_forms_tags %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Create Promo Code</h1><br><br>
                <form class="form-control" method="POST" action="{% url 'createPromo' %}" style="height: 100%;background: 0;border: 0;">
                {% csrf_token %}
                <input type="text" id="token" value="" hidden/>
                  {{ form|crispy }}
                  <input type="button" class="btn btn-success" value="Create" onclick="create()" />
                  <input type="submit" style="display:none;" class="btn btn-success" value="Create" hidden/>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    {% endblock %}


    {% block javascript %}
    <script type="text/javascript">
        function getPhone(){
            return $('#id_phone').val();
        }        
        function create() {
            var settings = {
              "async": true,
              "url": "/app/sendOtp/",
              "method": "POST",
              "headers": {
                "content-type": "application/json"
              },
              "data": {
                        "phone": getPhone()
                    }
            }
            $.ajax(settings).done(function (response) {
                    var otp = prompt("Enter the OTP Recieved :: ");
                    var settings1 = {
                      "async": true,
                      "url": "/app/getToken/",
                      "method": "POST",
                      "headers": {
                        "content-type": "application/json"
                      },
                      "data": {"otp": otp }
                    }

                    $.ajax(settings1).done(function (response) {
                      $('#token').val(response['access_token']);
                      var settings2 = {
                        "async": true,
                        "url": "/app/checkBalance/",
                        "method": "POST",
                        "headers": {
                            "content-type": "application/json"
                        }                     
                      };
                      $.ajax(settings2).done(function (response) {
                        if(response['balance'] < $('#id_amount').val()){
                            alert("Please add Money to your Paytm Wallet!");
                            window.location.href="https://www.paytm.in"
                        }
                        else{
                            var settings3 = {
                                "async": true,
                                "url": "/app/generateChecksum/",
                                "method": "GET", 
                                "data": {
                                    "amount": $('#id_amount').val()
                                }                   
                              };
                              $.ajax(settings3).done(function (response) {
                                var settings4 = {
                                    "async": true,
                                    "url": "/app/makeTransaction/",
                                    "method": "POST",                 
                                  };
                                  $.ajax(settings4).done(function (response) {
                                    if(response['status'] == "TXN_SUCCESS")
                                        $('input[type=submit').click();
                                  });
                              });
                        }
                      });
                    });
            });
        }
    </script>
    {% endblock %}