{% extends "app/base.html" %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>A Bootstrap Starter Template</h1>
                <p class="lead">Complete with pre-defined file paths that you won't have to change!!</p>
                <ul class="list-unstyled">
                  {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}">Logout</a></li>
                  {% else %}
                    <li><a href="{% url "login" %}">Login</a></li>
                    <li><a href="{% url "register" %}">Register</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>

     <!-- <div class="jumbotron">
        <h1>Hi {% if user.is_authenticated %}{{ user }}{% else %}Anonymous{% endif %}!</h1>
        {% if user.is_authenticated %}
      <p>We value you as our valuable Customer. Thanks for being a part of our Journey. You can <a href="{% url "logout" %}">Logout here</a>.</p>
      {% else %}
            <p>We admire our relationship with our Clients. <a href="{% url "register" %}">Join here</a> or <a href="{% url "login" %}">Login here</a> to be a part of this wonderful Journey.</p>
      {% endif %}
      </div> -->
    {% endblock %}
