{% extends "app/base.html" %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="text-center" style="text-align: center;">
                <div class="btn-primary btn-lg" style="width:60%;margin:auto;padding:70px;font-weight:900;font-size:3.5em;">Welcome to Let's Pay!</div>
                <br>
                <br>
                <div class="lead" style="font-weight:900">Create And Share Cash as Promo Codes</div>
                    <br>
                    <br>
                    <div style="text-align: center;">
                <ul class="list-unstyled" style="display: inline;margin:auto;">
                  {% if user.is_authenticated %}
                    <li><a href="{% url "createPromo" %}"><button class="btn-success btn-lg" style="margin:20px;margin: 0 auto">Create</button></a></li><li style="width=100%">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="{% url "withdrawPromo" %}"><button class="btn-success btn-lg" style="margin:20px;margin: 0 auto">Withdraw</button></a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    {# <li><a href="{% url "logout" %}"><button class="btn-warning btn-lg"style="width:20%;margin:auto;">Logout</button></a></li> #}
                  {% else %}
                    <li><a href="{% url "login" %}"><button class="btn-success btn-lg" style="margin:20px; margin:0 auto;">Login</button></a></li><li style="width=100%">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="{% url "register" %}"><button class="btn-warning btn-lg" style="margin:20px;margin:0 auto;">Register</button></a></li>
                  {% endif %}
                </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

     <!-- <div class="jumbotron">
        <h1>Hi {% if user.is_authenticated %}{{ user }}{% else %}Anonymous{% endif %}!</h1>
        {% if user.is_authenticated %}
      <p>We value you as our valuable Customer. Thanks for being a part of our Journey. You can <a href="{% url "logout" %}">Logout here</a>.</p>
      {% else %}
            <p>We admire our relationship with our Clients. <a href="{% url "register" %}">Join here</a> or <a href="{% url "login" %}">Login here</a> to be a part of this wonderful Journey.</p>
      {% endif %}
      </div> -->
    {% endblock %}
