{% extends "app/base.html" %}
{% load crispy_forms_tags %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Withdraw Promo Code</h1>
                <form class="form-control with" method="POST" action="{% url 'withdrawPromo' %}" style="height: 100%;background: 0;border: 0;">
                {% csrf_token %}
                  {{ form|crispy }}
                  <input type="button" class="btn btn-success" value="Withdraw"  onclick="doTransfer()" />
                </form>
                <div class="withs btn-primary btn-lg" style="display:none"><br><br>Success. Transfered Rs.1500</div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    {% endblock %}

{% block javascript %}
<script type="text/javascript">
    function doTransfer(){
            $(".with").slideUp('fast');
            $(".withs").slideDown('fast');
    }
</script>
{% endblock %}